<div class="col-md-4">
  <h1>Register</h1>
  <div data-ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" data-ng-submit="register()">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" data-ng-model="registerForm.email" required />
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" data-ng-model="registerForm.username" required />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" data-ng-model="registerForm.password" required />
    </div>
    <div class="form-group">
      <label>Reenter Password</label>
      <input type="password" class="form-control" name="password" data-ng-model="registerForm.passwordReentry" required />
    </div>
    <div>
      <button type="submit" class="btn btn-default" data-ng-disabled="disabled">Register</button>
    </div>
  </form>
</div>
