<h2>Characters</h2>

<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.MARISA">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/marisa_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.REIMU">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/reimu_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.WRIGGLE">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/wriggle_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.YOUMU">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/youmu_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.SAKUYA">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/sakuya_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8"> <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.YUUKA">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/yuuka_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.YUUGI">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/yuugi_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<div class="card character-card">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 text-center">
      <h3 translate="PROJECTS.CHARACTERS.MURASA">...</h3>
      <img class="img-responsive" src="img/fantasy-crescendo/characters/yuuka_portrait_1.png">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <h3>&nbsp;</h3> <!-- Cheap way of getting proper alignment on the left and right side of the character card-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales eget elit et luctus. Sed nulla turpis, aliquam nec purus sed, lacinia molestie purus. Integer laoreet neque vel felis tempor faucibus. Donec euismod risus a imperdiet congue. Fusce porttitor facilisis tempus. Nullam a vulputate nunc, dapibus placerat metus. Suspendisse potenti. Aliquam ut ligula massa. Nunc vehicula neque scelerisque erat semper, in tempus justo rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum ligula et justo bibendum tincidunt. Curabitur nec nunc urna. Proin facilisis tellus non dui aliquam commodo. Vivamus venenatis tellus vitae elementum pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
