<div class="container">
  <div class="row text-center">
    <h2  translate="PROJECTS.DOWNLOADS">...</h2>
  </div>
  <div class="row text-center">
    <div class="col-md-4 card download-card">
      <a href="https://patch.houraiteahouse.net/fantasy-crescendo/launcher/Windows/FC_Setup.exe">
        <p>
          <img class="img-responsive" src="/img/build-icons/windows-logo.png" alt="Windows">
        </p>
        Windows
      </a>
    </div>

    <div class="col-md-4 card download-card">
      <a href="https://patch.houraiteahouse.net/fantasy-crescendo/launcher/OSX/launcher">
        <p>
          <img class="img-responsive" src="/img/build-icons/mac-logo.png" alt="macOS">
        </p>
        macOS
      </a>
    </div>
    <div class="col-md-4 card download-card">
      <a href="https://patch.houraiteahouse.net/fantasy-crescendo/launcher/Linux/launcher">
        <p>
          <img class="img-responsive" src="/img/build-icons/linux-logo.png" alt="Linux">
        </p>
        Linux
      </a>
    </div>
  </div>
</div>
