<div class="col-md-4 col-md-offset-4">
  <h1 class="text-center">
    {{ "AUTH.LOGIN" | translate }}
  </h1>
  <div data-ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" data-ng-submit="login()">
    <div class="form-group row">
      <label for="loginUsername" class="col-sm-2 col-form-label">
        {{ "AUTH.USERNAME" | translate }}
      </label>
      <div class="col-sm-10">
        <input id="loginUsername"
          type="text"
          class="form-control"
          name="username"
          data-ng-model="loginForm.username"
          value="Username"
          required>
      </div>
    </div>
    <div class="form-group row">
      <label for="loginPassword" class="col-sm-2 col-form-label">
        {{ "AUTH.PASSWORD" | translate }}
      </label>
      <div class="col-sm-10">
        <input id="loginPassword"
          type="password"
          class="form-control"
          name="password"
          data-ng-model="loginForm.password"
          value="Password"
          required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label>
          <input type="checkbox" name="remember_me" data-ng-model="loginForm.remember_me">
          {{ "AUTH.REMEMBER_ME" | translate }}
        </label>
      </div>
      <button type="submit" class="btn btn-default col-sm-8" data-ng-disabled="disabled">
        {{ "AUTH.LOGIN" | translate }}
      </button>
    </div>
    <div class="form-group row">
      <a data-ui-sref="register">
        {{ "AUTH.REGISTER_LINK" | translate }}
      </a>
    </div>
  </form>
</div>
