<div class="home">
    <div class="hourai-jumbotron">
        <div class="text-center">
            <img src="img/ht-banner-horizontal-white.svg" class="img-responsive banner-img" />
        </div>
    </div>
    <div class="hourai-call-to-action text-center">
        <p>Want to contribute? Contact us on <a>Discord</a> or via social media:</p>
        <div class="hourai-social-media">
            <img class="social-media-icon" src="img/flaticon/twitter-logo.svg" />
            <img class="social-media-icon" src="img/flaticon/facebook-logo.svg" />
            <img class="social-media-icon" src="img/flaticon/github-logo.svg" />
        </div>
        <div class="social-icon-attribution">
            <span>Icons made by </span>
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            <span> from </span>
            <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
            <span> is licensed by </span>
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </div>
    <div class="hourai-top-news">
        <h2>Latest News</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div style="text-align: center; padding-top: 9rem; margin-bottom: 2rem; height: 200px; border: 1px solid white; border-radius: 0.5rem; background-color: white; color: black;">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
