<section class="post">
  <header class="post-header">
    <h2 class="post-title">{{post.title}}</h2>
    <div class="post-meta">Posted by {{post.author}} on {{post.created | date:'medium'}}</div>
    <div class="post-meta">
      <ul class="list-inline">
        <li ng-repeat="tag in post.tags">
          <a class="label label-success" ui-sref="news.tags({tag: tag})">{{tag}}</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="post-content">
    <div class="media-wrap" ng-show="hasMedia">
      <div class="media">
        <img ng-src="{{post.media}}" />
      </div>
    </div>
    <div>
      <p>
        <div ng-bind-html="postHtml">
        </div>
      </p>
    </div>
  </div>
  <hr />
  <div class="post-comments">
    <h4>Comments</h4>
    <div class="news-comment" ng-repeat="com in post.comments">
      <p>
        <div ng-bind-html="com.commentHtml">
        </div>
      </p>
      <br />
      <cite>- {{com.author}}</cite>
      <div class="commentSeparator">-</div>
    </div>
    <form name="commentForm" id="commentForm" ng-submit="commentForm.$valid && addComment()">
      <h4>Add Comment</h4>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <div>
        <textarea ng-model="comment.body" name="body" id="body" cols="30" rows="10" placeholder="Comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="disabled">Submit</button>
    </form>
  </div>
</section>
