<section class="post">
  <div class="admin-actions" data-ng-show="allowPostManagement">
    <button data-ng-click="createPost()" class="btn btn-primary">Create Post</button>
  </div>
  <div class="text-center" ng-if="showError">Failed to load posts.</div>
  <div data-ng-repeat="post in posts" ng-if="!showError">
    <header class="post-header">
      <h2 class="post-title">{{post.title}}</h2>
      <div class="post-meta">Posted by {{post.author}} on {{post.created | date:'medium'}}</div>
      <div class="post-meta">
        <ul class="list-inline">
          <li data-ng-repeat="tag in post.tags">
            <a class="label label-success" data-ui-sref="news.tags({tag: tag})">{{tag}}</a>
          <li>
        </ul>
      </div>
    </header>
    <div class="post-content">
      <p data-ng-bind-html="post.content">
        {{post.content}}
      </p>
      <a data-ui-sref="news.post({id: post.post_id})" class="btn btn-primary">Read More</a>
    </div>
  </div>
</section>
