<section class="post">
  <header class="post-header">
    <div class="admin-actions" ng-show="allowPostManagement">
      <b>Post Actions:</b>
      <button ng-click="editPost()" class="btn btn-warning" ng-show="isAuthor && !editing">Edit Post</button>
    </div>
  </header>
  <form class="form" name="postEditForm" id="postEditForm" ng-show="editing" ng-submit="postEditForm.$valid && submitEdit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" ng-model="post.title" required />
    </div>
    <div class="form-group">
      <label>Image Link (Optional)</label>
      <input type="text" class="form-control" name="media" ng-model="post.media" />
    </div>
    <div class="form-group">
      <label for="textareaContent">Post Body</label>
      <textarea class="form-control" rows="18" ng-model="postText"></textarea>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="disabled">Submit Edit</button>
  </form>
  <div ng-show="!editing">
    <h2 class="post-title">{{post.title}}</h2>
    <div class="post-meta">
      <ul class="list-inline">
        <li ng-repeat="tag in post.tags">
          <a class="label label-success" ui-sref="news.tags({tag: tag})">{{tag}}</a>
        </li>
      </ul>
    </div>
    <div class="post-meta">Posted {{post.created | date:'medium'}} by {{post.author}}</div>
    <div ng-show="isEdited">Last edited {{post.lastEdit | date:'medium'}}</div>
    <hr />
    <div class="post-content">
      <div class="media-wrap" ng-show="hasMedia">
        <div class="media">
          <img ng-src="{{post.media}}" />
        </div>
      </div>
      <div>
        <p>
          <div ng-bind-html="postHtml">
          </div>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="post-comments">
    <h4>Comments</h4>
    <div class="news-comment" ng-repeat="com in post.comments" ng-controller="NewsCommentCtrl" ng-init="com=com">
      <form name="commentEditForm" id="commentEditForm" ng-submit="commentEditForm.$valid && submitEdit()" ng-show="editing">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div>
          <textarea ng-model="commentText" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="disabled">Submit Edit</button>
      </form>
      <div ng-show="!editing">
        <p>
          <div ng-bind-html="commentHtml">
          </div>
        </p>
      </div>
      <br />
      <cite>- {{author}}</cite>
      <div class="admin-actions" ng-show="canManage">
        <b>Comment Actions:</b>
        <button ng-click="startDelete()" class="btn btn-danger" ng-show="!deleting">Delete Comment</button>
        <span ng-show="deleting">
          Are you sure?
          <button ng-click="deleteComment()" class="btn btn-danger">Yes, Delete</button>
          <button ng-click="deleting=false" class="btn btn-warning">No</button>
        </span>
      </div>
      <div class="commentSeparator">-</div>
    </div>
  </div>
  <form name="commentForm" id="commentForm" ng-submit="commentForm.$valid && addComment()">
    <h4>Add Comment</h4>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div>
      <textarea ng-model="comment.body" name="body" id="body" cols="30" rows="10" placeholder="Comment" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="disabled">Submit</button>
  </form>
</section>
