@import url('news/news.css');

html,
body {
  height: 100%;
}
html body {
  font-family: Helvetica;
  background: #F2F2F2;
  font-size: 1.3em;
  overflow: hidden;
}
a,
a:focus,
a:hover {
  color: #235A9F;
  outline: none;
  text-decoration: none;
}

#topnav {
  height: 50px;
}

.navbar,
.navbar-nav > li > a:active,
.navbar-nav > li > a:visited {
  background-color: #883080;
  border-color: #883080;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-header > a {
  color: #E0D050;
}
.navbar-header > a:hover {
  color: #FFEE66;
}
.navbar-nav > li > a {
  color: #DDDD55;
}
.navbar-nav > li > a:hover {
  background-color: #995099;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: -50px auto -40px;
  padding: 50px 0 40px;
  .container {
    position: absolute;
    top: 50px;
    bottom: 40px;
    right: 0;
    left: 0;
    overflow-y: auto;
  }
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background-color: #553355;
  padding: 10px;
  padding-left: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#footer .text-muted {
  color: #EEEEEE;
}

.btn-primary {
  background-color: #772070;
  color: #EEEEEE;
  border-color: #661060;
}
.btn-primary:hover {
  background-color: #662060;
  color: #FFFFFF;
  border-color: #551050;
}
